{%  extends 'pirates/dashboards/admin_dashboard.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/pirates/css/locations.css" />
{% endblock %}

{% block container %}



    <div class = 'container-flex'>
        <div class = "row">
            <div class="row"  role="group" id ="buttonGroup">
                <button type="button" class="btn btn-primary btn-lg mr-2" id="new_button" data-toggle="modal" data-target="#addLocation">New</button>
                <button type="button" class="btn btn-primary btn-lg btn-secondary ml-2" id="edit_button" data-toggle="modal" data-target="#editLocation" onclick='editBuilding();'>Edit</button>
            </div>
        </div>
        <div class = "row" id="locCards">
        {% for loc in locations%}
                    <div class="card col-md-3 mt-2 mr-1 bg-dark" style="width: 15rem;">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ loc.location }}</h5>
                            <ul class = "list-group list-group-flush">
                                <button type="button" id = "{{ loc.location }}"class="btn btn-outline-secondary"  data-toggle="modal" data-target="#locationModal_{{forloop.counter}}">
                                    Room Count: {{ loc.roomCount }}
                                </button>
                            </ul>
                        </div>
                    </div>
        {% endfor %}
        </div>
    </div>


<!-- View Rooms Modal -->
        {% for loc in rooms %}
            {% for buildings, roomNums  in loc.items %}


            <div class="modal fade" id="locationModal_{{forloop.parentloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="locationModal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">


                  <div class="modal-header" >
                    <h5 class="modal-title" id = 'buildingNameTitle_{{forloop.counter}}'>{{buildings}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>


                  <div class="modal-body"  id = 'modalBody'>
                        <table class="table table-bordered  table-striped">
                          <tbody>
                          <tr>
                          {% for classRooms in roomNums %}
                            {% for colName, class in classRooms.items %}
                              <td
                                  id="{{class}}" onclick="editRoom('{{buildings}}', this.id);"
                                  data-dismiss="modal" data-toggle="modal"
                                  data-target="#updateAsset">

                                  {{class}}

                              </td>
                                {% if forloop.parentloop.counter|divisibleby:6 %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                          {% endfor %}
                          </tr>
                          </tbody>
                        </table>
                  </div>





<div class="modal-footer">
  <button type="button" class="btn btn-secondary mr-auto"  data-dismiss="modal">Cancel</button>
  <button type="button" id='add_new_room' class="btn btn-primary" onclick="addRoom('{{buildings}}');" data-dismiss="modal" data-toggle="modal" data-target="#newLocationForm">New</button>
</div>

                </div>
              </div>
            </div>




        {% endfor %}
{% endfor %}


<!----- New Modal -->
<div class="modal" id = 'newLocationForm' tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newModalTitle">Room</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <form>
          <div class="form-group">
            <label for="roomNumber">Room Number</label>
            <input  type="text" class="form-control" id="roomNumber">
            <h1 id="newType" style="display:none"></h1>
              <div class="alert alert-danger mt-1 mb-1" id='addingRoomError' role="alert" style="display:none"></div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-auto" data-toggle="modal"   data-dismiss="modal" data-target="#removeLocation" id="deleteVendor" onclick="removeLocation('room');">Delete</button>
        <button type="button" class="btn btn-primary" id='addRoom'>Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="newCancelButton">Close</button>
      </div>
    </div>
  </div>
</div>
<!------------End of new room ------------------->

<!----- edit Location Modal -->
<div class="modal" id = 'updateAsset' tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editRoomTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <form>
          <div class="form-group">
            <label for="roomNum">Room Number</label>
            <input  type="text" class="form-control" id="roomNum">
            <h1 id="locType" style="display:none"></h1>

              <div class="alert alert-danger mt-1 mb-1" id='errorUpdateRoom' role="alert" style="display:none"></div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-auto" data-toggle="modal"   data-dismiss="modal" data-target="#removeLocation" id="deleteVendor" onclick="removeLocation('room');">Delete</button>
        <button type="button" class="btn btn-primary" id='updateRoom'>Update</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!---------- Add a new Building ---------->
<div class="modal"  id ="addLocation" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Track New Building</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
                <label for="newBuildingName">Building Name</label>
                <input type="text" class="form-control" id="newBuildingName" >
                <div class="alert alert-danger mt-1 mb-1" id='errorMessageBuilding' role="alert" style="display:none"></div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id='addNewBuildingName' onclick="validateBuilding();">Add</button>
      </div>
     </form>
    </div>
  </div>
</div>
<!--------END OF ADDING NEW BUILDING MODAL ------------------->

<!---------------------- Edit a Building Modal ------------------------->
<div class="modal"  id ="editLocation" tabindex="-1" role="dialog">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Existing Building</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="input-group mb-3">
                <div class="form-group">
              <label for= "curr" >Location to Edit</label>
              <select id = 'curr' class="custom-select">
                <option selected id="defaultChoice">Select...</option>
                  {% for loc in locations %}
                    <option  value="{{loc.location}}">{{loc.location}}</option>
                  {% endfor %}
              </select>

                  <label class = 'mt-3' for="newName">New Name</label>
                  <input type="text"  class="form-control" id="newName">
                </div>
            </div>


    <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">Modify</div>
    </div>
    <input type="text" class="form-control" id="modifiedVersion" disabled>
  </div>

  <div class="form-check mb-2 mr-sm-2">
    <input class="form-check-input" type="checkbox" id="confirmChange" checked>
    <label class="form-check-label" for="confirmChange" >
      Confirm Modification
    </label>
  </div>
<div class="alert alert-danger mt-1 mb-1" id='updateBuildingError' role="alert" style="display:none"></div>
</form>
      </div>
      <div class="modal-footer">
          <button type="button" id='deleteName' class="btn btn-danger mr-auto"  data-dismiss='modal'
                  data-toggle="modal"  data-target="#removeLocation"
                  onclick='removeLocation("building")' style="display:none">

              Delete

          </button>
        <button id = 'updateBuilding' type="button" class="btn btn-primary" id="updateBuildin" style="display:none">Update</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!------ END OF EDITING BUILDING MODAL ---------------->


<!--- CONFIRM REMOVAL LOC MODAL -->
<div class="modal" tabindex="-1" role="dialog" id="removeLocation">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Remove Area</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
        <div class="input-group mb-2 mr-sm-2">
         <div class="input-group-prepend">
             <div class="input-group-text"><b>Remove</b></div>
           </div>
          <input type="text" class="form-control" id="toDelete" disabled>
        </div>
          <div class="form-check mb-2 mr-sm-2">
              <div class="alert alert-warning mt-1 mb-1" id='warningMessage' role="alert">

              </div>
            <input class="form-check-input" type="checkbox" id="confirmDeletion" checked>
            <label class="form-check-label" for="confirmChange">
              Confirm Removal
            </label>
            <h1 id="type" style="display:none"></h1>

          </div>
        </div>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-danger mr-auto" data-toggle="modal" id="deleteLoc" onclick="removeBuilding();">Delete</button>
        <button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal"data-toggle='modal' >Cancel</button>
      </div>
    </div>
  </div>
</div>

<!--- END OF CONFIRM REMOVAL MODAL -->


{% endblock %}


{% block js %}
    <script type="text/javascript" src="/static/pirates/js/locations_manage.js"></script>
{% endblock js %}
