.container{
    justify-content: center;
    align-items: center;
}

#asset_buttonGroup {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#assetTypes {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deviceInfo{
    text-align: center;
}


thead{
    font-size: 18px;
    text-align: center;
    background-color: #747571;
    color: #2e2d2d
}

td {
    font-size: 15 px;
}


#bCount {
    text-align: center;
}

.table-hover tbody tr:hover td {
    background: #7a7777;
    font-weight: 900;
}


.modal-header,
    .modal-footer{
        background-color: #635F5E;
        color: #EEEEEE;

 }

.modal-body{
    background-color: #BBB7B7;
    color: #3C3C3C;
    font-weight: bold;
}


.card-body{
    text-align: center;
    color: #DBDADA;
}
