{% extends "pirates/main.html" %}
{%  load crispy_forms_tags %}
{%  block content %}
    <div class="container" >
        <div class="content-section" id="signInRow" >
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <div class ='row' >
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-4" id="registerCol">
                        <legend class="border-bottom mb-4 text-center">Dover Schools</legend>
                        {{ form|crispy }}
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </fieldset>
                <div class="form-group text-center">
                    <button class="btn btn-info" type="submit">Login</button>
                </div>
            </form>
            <div class="border-top pt-3 text-center">
                <small class="font-weight-bold" id="signInSmall">
                    Having Technical Difficulties? <a class="ml-2" href="#">Submit a Bug</a>
                </small>
            </div>
        </div>
    </div>
{% endblock %}