<!DOCTYPE html>
<html lang="en">
<head>
  <title>CheckIn/Out</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/static/pirates/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>

</head>

<body class="dashBackground">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
            {%  block leftNav %}
                {% if not user.is_anonymous %}
                    <li class="nav-item">
                        <div class="btn-group">
                             <button class="btn btn-secondary btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user }}
                             </button>
                          <div class="dropdown-menu bg-secondary" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item mt-2 text-light" href="#">My Devices</a>
                            <a class="dropdown-item mt-2 text-light" href="#">Submit Ticket</a>
                            <a class="dropdown-item mt-2 text-light" href="{% url 'logout' %}">Log Out</a>
                          </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="//codeply.com">My Devices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Check In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Check Out</a>
                    </li>
                {% endif %}
            {% endblock %}
            </ul>
        </div>
        {%  block rightNav %}
        <div class="mx-auto order-0">
            {% if title %}
                <a class="navbar-brand mx-auto" href="#">{{ title }}</a>
            {% else %}
                <a class="navbar-brand mx-auto" href="#">Dover Technology</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            {% if not user.is_anonymous %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Submit Ticket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            {%  endif %}
        </div>
    {% endblock %}
    </nav>

    {% block container %}
    {% endblock %}

</body>
    {% block js %}
    {% endblock js %}

</html>
